.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4caf50;
    color: white;
  }
  .containerLogin {
    display: flex;
    justify-content: center;
  }
  .boxLogin{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  div .buttonLogin{
    margin-top: 8px;
  }
  
  .gridInfo{
    border-top: 2px solid black;
    width:100%;
  }
  .gridInfo>*{
    flex:1
  }
  .gridItem{
    display: flex;
    flex-direction: column;
  }
  .gridItemChild{
    display:flex;
    align-items: center;
  }
  .gridIcon{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
  }
  .gridText{
    font-weight: bold;
    flex:1;
    text-align: center;
  }
  